* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Codec";
  font-display: swap;
  src: url("../fonts/Codec-Warm-Light-trial.woff2") format("woff2"), url("../fonts/Codec-Warm-Light-trial.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Codec";
  font-display: swap;
  src: url("../fonts/Codec-Warm-News-trial.woff2") format("woff2"), url("../fonts/Codec-Warm-News-trial.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Codec";
  font-display: swap;
  src: url("../fonts/Codec-Warm-Regular-trial.woff2") format("woff2"), url("../fonts/Codec-Warm-Regular-trial.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HeliosAntique";
  font-display: swap;
  src: url("../fonts/Fontspring-DEMO-heliosantique-medium.woff2") format("woff2"), url("../fonts/Fontspring-DEMO-heliosantique-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HeliosAntique";
  font-display: swap;
  src: url("../fonts/Fontspring-DEMO-heliosantique-regular.woff2") format("woff2"), url("../fonts/Fontspring-DEMO-heliosantique-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HeliosAntique";
  font-display: swap;
  src: url("../fonts/Fontspring-DEMO-heliosantique-semibold.woff2") format("woff2"), url("../fonts/Fontspring-DEMO-heliosantique-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --app-height: 100%;
  --white: #fff;
  --black: #151515;
  --gold: #C19640;
  --tan: #947F56;
  --light-gray: #C3C3C3;
}

body {
  font-family: "HeliosAntique";
  font-weight: 400;
  color: #000;
}

body._lock,
body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-black {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--gold);
  border: 1px solid var(--gold);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}

.btn-black:hover {
  background: var(--gold);
  color: var(--white);
}

.btn-gold {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--black);
  border: 1px solid var(--gold);
  background: var(--gold);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}

.btn-gold:hover {
  background: var(--black);
  color: var(--gold);
}

.btn-white {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--gold);
  border: 1px solid var(--gold);
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}

.btn-white:hover {
  background: var(--black);
  color: var(--gold);
}

.title {
  font-family: "Codec";
  font-size: 1.375rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--white);
}

.subtitle {
  font-size: 2.75rem;
  letter-spacing: 6px;
  text-transform: capitalize;
  color: var(--white);
}

.pagination {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 50px;
}

.pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.pagination .swiper-pagination-bullet-active {
  background: var(--white);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  line-height: 150%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.8s ease;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.popup.open .popup__content {
  transform: translate(0, 0);
}

.popup__body {
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}

.popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.popup__logo {
  width: 210px;
  height: 55px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.popup__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.popup__wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.popup__content {
  max-width: 660px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
  border-radius: 6px;
  transition: all 0.3s linear;
  background: #fff;
  border-radius: 30px;
}

.popup__content.sign {
  padding: 0;
}

.popup__content.sign .sign__form {
  border: none;
  padding: 60px 50px;
}

.callback {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: 25px;
  right: 25px;
  z-index: 50;
}

.callback.active .callback__btn span:nth-of-type(1) {
  display: none;
}

.callback.active .callback__btn span:nth-of-type(2) {
  display: block;
}

.callback.active .callback__hidden {
  pointer-events: all;
}

.callback.active .callback__viber,
.callback.active .callback__telegram {
  transform: scale(1);
}

.callback.active .callback__viber:hover,
.callback.active .callback__telegram:hover {
  transform: scale(0.9);
}

.callback__btns {
  display: flex;
  align-items: center;
}

.callback__btn {
  border-radius: 20px;
  background: rgba(182, 163, 219, 0.8);
  padding: 12px 16px;
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
}

.callback__btn:not(:last-child) {
  margin-right: 10px;
}

.callback__btn:hover {
  background: rgb(182, 163, 219);
  box-shadow: 0 0 10px rgb(182, 163, 219);
}

.callback__btn svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.callback__btn span {
  font-size: 0.8125rem;
  font-weight: 500;
  margin-right: 20px;
  text-align: left;
  line-height: 1.5;
}

.callback__btn span:nth-of-type(2) {
  display: none;
}

.callback__hidden {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  pointer-events: none;
}

.callback__telegram {
  margin-bottom: 10px;
  transform: scale(0);
  transition: all 0.2s linear 0.1s;
  width: 50px;
  height: 50px;
}

.callback__telegram img {
  width: 100%;
  height: 100%;
}

.callback__telegram:hover {
  transform: scale(0.9);
}

.callback__viber {
  width: 50px;
  height: 50px;
  transform: scale(0);
  transition: all 0.2s linear;
}

.callback__viber img {
  width: 100%;
  height: 100%;
}

.done {
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px;
}

.done__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.done__message {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.done__btn {
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s linear;
}

.header.fixed {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);
}

.header__body {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.header__logo {
  width: 65px;
  height: 65px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  z-index: 200;
}

.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu {
  flex: 1 1 auto;
}

.menu__icon {
  display: none;
  position: relative;
  width: 28px;
  height: 28px;
}

.menu__icon.active::before {
  transform: translate(-50%, -50%) rotate(-90deg) scale(0);
}

.menu__icon.active::after {
  transform: translate(-50%, -50%) rotate(0) scale(1);
}

.menu__icon::before,
.menu__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
}

.menu__icon::before {
  -webkit-mask: url("../img/icons/icons.svg#menu") center/contain no-repeat;
          mask: url("../img/icons/icons.svg#menu") center/contain no-repeat;
  background: var(--white);
}

.menu__icon::after {
  -webkit-mask: url("../img/icons/icons.svg#back") center/contain no-repeat;
          mask: url("../img/icons/icons.svg#back") center/contain no-repeat;
  background: var(--white);
  transform: translate(-50%, -50%) rotate(90deg) scale(0);
}

.menu__body {
  display: flex;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 440px;
  width: 100%;
}

.menu__item {
  padding: 5px 0;
}

.menu__link {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

.menu__socials {
  display: none;
}

.menu__social {
  color: var(--light-gray);
  font-size: 1.25rem;
  text-transform: uppercase;
}

.menu__social:not(:last-child) {
  margin-right: 20px;
}

.main {
  position: relative;
}

.main__container {
  height: 100%;
}

.main__body {
  min-height: var(--app-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0 50px;
}

.main__body picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__body picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__title {
  font-size: 4.25rem;
  font-weight: 300;
  margin-bottom: 15px;
  color: var(--white);
  letter-spacing: 6px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.main__desc {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--white);
  line-height: 1.5;
  position: relative;
  z-index: 1;
  max-width: 960px;
}

.main__btns {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.main__btn {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: var(--white);
  transition: all 0.3s linear;
}

.main__btn:hover {
  color: var(--gold);
}

.main__btn:hover svg {
  fill: var(--gold);
}

.main__btn:not(:last-child) {
  margin-right: 30px;
}

.main__btn svg {
  width: 30px;
  height: 30px;
  fill: var(--white);
  margin-right: 10px;
  transition: all 0.3s linear;
}

.for {
  display: flex;
}

.for__item {
  flex: 1 1 50%;
  height: 520px;
  position: relative;
  border: 1px solid var(--gold);
  display: flex;
  align-items: center;
  justify-content: center;
}

.for__item:first-child {
  border-left: none;
}

.for__item:last-child {
  border-right: none;
}

.for__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.for__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--black);
  transition: all 0.3s linear;
}

.for__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.for__block {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  transition: all 0.3s linear;
  transform: translate(0, 15%);
}

.for__title {
  color: var(--gold);
  text-align: center;
  font-family: "Codec";
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 34px;
  white-space: nowrap;
}

.for__link {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--white);
  transition: all 0.3s linear;
  transform: translate(0, 20px);
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
}

.for__link:hover {
  color: var(--gold);
}

.for__link:hover svg {
  fill: var(--gold);
}

.for__link svg {
  width: 31px;
  height: 31px;
  margin-right: 15px;
  fill: var(--white);
  transition: all 0.3s linear;
}

.about {
  background: var(--black);
}

.about__body {
  display: flex;
  padding-top: 140px;
  gap: 50px;
}

.about__info {
  flex: 1 1 55%;
}

.about__title {
  margin-bottom: 28px;
}

.about__subtitle {
  margin-bottom: 28px;
}

.about__desc {
  margin-bottom: 28px;
  color: var(--white);
  line-height: 1.5;
  font-size: 1.125rem;
}

.about__btn {
  width: 250px;
  height: 50px;
}

.about__image {
  flex: 1 1 45%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.about__image img {
  max-width: 100%;
}

.benefits {
  background: var(--black);
  position: relative;
}

.benefits__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 100px 0;
}

.benefits__grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 75px;
  -moz-column-gap: 125px;
       column-gap: 125px;
}

.benefits__item:not(:first-child) {
  padding: 20px 0;
  border-top: 1.5px solid var(--white);
}

.benefits__title {
  margin-bottom: 15px;
}

.benefits__subtitle {
  letter-spacing: 3px;
}

.benefits__name {
  font-family: "Codec";
  font-size: 1.5rem;
  color: var(--white);
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.benefits__desc {
  color: var(--white);
  line-height: 1.5;
  font-size: 1.125rem;
}

.benefits__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.benefits__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(0, rgba(21, 21, 21, 0) 0%, rgb(21, 21, 21) 70%);
  z-index: 1;
}

.benefits__bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(180deg, rgba(21, 21, 21, 0) 0%, rgb(21, 21, 21) 70%);
  z-index: 1;
}

.benefits__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.how {
  background: var(--black);
}

.how__body {
  padding: 100px 0;
}

.how__title {
  margin-bottom: 28px;
  text-align: center;
}

.how__subtitle {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto 86px;
}

.how__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

.how__item {
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--white);
  position: relative;
  line-height: 1.5;
  text-align: center;
}

.how__item:not(:last-child) {
  padding-bottom: 90px;
}

.how__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  background: url("../img/icons/style.svg") center/contain no-repeat;
}

.grid-how__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-how__item {
  border: 1px solid var(--gold);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 10px;
  position: relative;
}

.grid-how__item figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-how__item figure picture {
  width: 77px;
  height: 77px;
  position: relative;
}

.grid-how__item figure picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.grid-how__item:nth-child(5),
.grid-how__item:nth-child(6) {
  grid-column: span 2;
  padding: 0;
}

.grid-how__title {
  color: var(--white);
  margin-bottom: 27px;
  text-transform: uppercase;
  text-align: center;
}

.grid-how__icons {
  display: flex;
  justify-content: space-between;
}

.grid-how__icons figure {
  flex: 1 1 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-how__icons figure picture {
  width: 55px;
  height: 55px;
  position: relative;
  margin-bottom: 15px;
}

.grid-how__icons figure picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.grid-how__icons figure figcaption {
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--tan);
  text-align: center;
  text-transform: uppercase;
}

.about-how {
  padding: 44px;
}

.about-how__title {
  font-size: 1.625rem;
  font-weight: 600;
  color: var(--gold);
  margin-bottom: 28px;
}

.about-how__desc {
  font-size: 1.125rem;
  margin-bottom: 28px;
  color: var(--white);
  line-height: 1.5;
}

.about-how__btn {
  width: 266px;
  height: 52px;
}

.info-how {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.info-how__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-how__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-how__block {
  width: 100%;
  padding: 20px;
  transform: translate(0, 150px);
  transition: all 0.3s linear;
}

.info-how__title {
  font-family: "Codec";
  font-size: 1.625rem;
  font-weight: 300;
  margin: 0 auto 30px;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
  transition: all 0.3s linear;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.info-how__details {
  display: flex;
  align-items: center;
}

.info-how__more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.info-how__location {
  display: flex;
  align-items: center;
  font-family: "Codec";
  font-size: 1.3125rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.info-how__location svg {
  width: 24px;
  height: 24px;
  fill: var(--white);
  margin-right: 13px;
}

.info-how__sold {
  color: var(--white);
  font-size: 1.375rem;
  text-transform: uppercase;
}

.info-how__table {
  flex: 1 1 auto;
}

.info-how__table table {
  width: 100%;
  border-collapse: collapse;
}

.info-how__table tr:not(:last-child) td {
  border-bottom: 1px solid #ababab;
}

.info-how__table td {
  font-size: 1.25rem;
  color: var(--white);
  text-align: center;
  width: 33%;
  padding: 7px 5px;
}

.reviews {
  background: var(--black);
}

.reviews__body {
  padding: 100px 0;
}

.reviews__slider {
  overflow: hidden;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__text {
  color: var(--white);
  font-size: 1.375rem;
  line-height: 1.5;
  max-width: 1100px;
  margin: 0 auto 50px;
  text-align: center;
}

.reviews__author {
  font-family: "Codec";
  font-size: 1.125rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #8B8B8B;
  text-align: center;
}

.start {
  background: var(--black);
}

.start__body {
  padding: 100px 0;
}

.start__title {
  font-size: 2.375rem;
  color: var(--white);
  max-width: 1000px;
  text-align: center;
  margin: 0 auto 80px;
}

.start__block {
  display: flex;
  position: relative;
}

.start__info {
  flex: 1 1 60%;
  padding: 60px 70px;
  background: var(--gold);
}

.start__name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 28px;
}

.start__desc {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 28px;
  opacity: 0.8;
}

.start__btn {
  width: 210px;
  height: 53px;
}

.start__image {
  flex: 1 1 40%;
  border: 1px solid #C19640;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start__image picture {
  position: relative;
  width: 90%;
  height: 90%;
}

.start__image picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.faq {
  background: var(--black);
}

.faq__body {
  padding: 100px 0;
  display: flex;
}

.faq__title {
  flex: 1 1 30%;
  font-size: 4.5rem;
  font-weight: 300;
  letter-spacing: 6px;
  color: var(--white);
  text-transform: uppercase;
}

.faq__list {
  flex: 1 1 70%;
}

.faq__item {
  padding: 25px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.faq__question {
  font-size: 1.375rem;
  color: var(--white);
  position: relative;
  padding-left: 70px;
  cursor: pointer;
}

.faq__question._active::after {
  transform: translate(0, -50%) rotate(180deg);
}

.faq__question::before,
.faq__question::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: url("../img/icons/icons.svg#minus") center/40% 40% no-repeat;
  transition: all 0.3s linear;
}

.faq__question::after {
  transform: translate(0, -50%) rotate(90deg);
}

.faq__answer {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.125rem;
  line-height: 1.5;
  padding: 15px 0 0;
  padding-left: 70px;
}

.autro {
  background: var(--white);
  position: relative;
  overflow: hidden;
}

.autro__body {
  padding: 100px 0;
}

.autro__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.autro__item {
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: 6px;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
}

.autro__bg {
  width: 650px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.autro__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  background: var(--black);
  padding: 180px 0 100px;
}

.footer__body {
  display: flex;
}

.footer__main {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
}

.footer__logo {
  width: 65px;
  height: 65px;
  position: relative;
  margin-bottom: 50px;
}

.footer__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__link {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  transition: all 0.3s linear;
}

.footer__link:hover {
  color: var(--gold);
}

.footer__link:not(:last-child) {
  margin-bottom: 30px;
}

.footer__contacts {
  flex: 1 1 40%;
  margin-right: 20px;
}

.footer__title {
  color: var(--white);
  font-size: 1.375rem;
  font-weight: 600;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.footer__item {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  display: flex;
  align-items: center;
  max-width: 300px;
}

.footer__item:not(:last-child) {
  margin-bottom: 38px;
}

.footer__item svg {
  min-width: 35px;
  width: 35px;
  height: 35px;
  fill: var(--tan);
  margin-right: 15px;
}

.footer__form {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
}

.footer__form label {
  color: var(--white);
  margin-bottom: 20px;
}

.footer__form input {
  color: var(--white);
  border: none;
  border-bottom: 1px solid var(--white);
  background: #151515;
  margin-bottom: 20px;
  padding: 10px 0;
  font-size: 1rem;
}

.footer__btn {
  width: 100%;
  height: 50px;
}

.footer__rights {
  font-size: 0.8125rem;
  color: #8B8B8B;
  max-width: 670px;
  margin-top: 20px;
}

/**
 * Swiper 8.4.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: January 30, 2023
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

@media (min-width: 576px) {
  .menu__link:hover {
    color: var(--gold);
  }
}

@media (min-width: 769px) {
  .for__item:hover .for__image::after {
    opacity: 0;
  }

  .for__item:hover .for__title {
    color: var(--white);
  }

  .for__item:hover .for__link {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }

  .for__item:hover .for__block {
    transform: translate(0, 0);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }

  .for__item:first-child:hover .for__block {
    background: rgba(0, 0, 0, 0.3);
  }

  .for__item:last-child:hover .for__block {
    background: rgba(147, 105, 23, 0.4);
  }

  .info-how:hover .info-how__block {
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    transform: translate(0, 0);
  }

  .info-how:hover .info-how__title {
    color: var(--white);
  }
}

@media (max-width: 1500px) {
  .btn-black {
    font-size: calc(1rem + 2 * (100vw - 20rem) / 1180);
  }

  .btn-gold {
    font-size: calc(1rem + 2 * (100vw - 20rem) / 1180);
  }

  .btn-white {
    font-size: calc(1rem + 2 * (100vw - 20rem) / 1180);
  }

  .title {
    font-size: calc(0.9375rem + 7 * (100vw - 20rem) / 1180);
  }

  .subtitle {
    font-size: calc(2rem + 12 * (100vw - 20rem) / 1180);
  }

  .popup__header {
    margin-bottom: calc(30px + 90 * (100vw - 320px) / 1180);
  }

  .popup__logo {
    width: calc(150px + 60 * (100vw - 768px) / 732);
    height: calc(40px + 15 * (100vw - 768px) / 732);
    margin-bottom: calc(15px + 20 * (100vw - 768px) / 732);
  }

  .popup__content.sign .sign__form {
    padding: calc(30px + 30 * (100vw - 320px) / 1180) calc(10px + 40 * (100vw - 320px) / 1180);
  }

  .done {
    padding: 30px calc(15px + 15 * (100vw - 320px) / 1180);
  }

  .done__message {
    font-size: calc(1.125rem + 6 * (100vw - 20rem) / 1180);
    margin-bottom: calc(15px + 15 * (100vw - 320px) / 1180);
  }

  .done__btn {
    padding: calc(10px + 10 * (100vw - 320px) / 1180) calc(15px + 15 * (100vw - 320px) / 1180);
    font-size: calc(1rem + 2 * (100vw - 20rem) / 1180);
  }

  .header__logo {
    width: calc(40px + 25 * (100vw - 320px) / 1180);
    height: calc(40px + 25 * (100vw - 320px) / 1180);
  }

  .menu__body {
    margin-right: calc(10px + 50 * (100vw - 320px) / 1180);
  }

  .main__title {
    font-size: calc(2.125rem + 34 * (100vw - 20rem) / 1180);
  }

  .main__desc {
    font-size: calc(0.9375rem + 3 * (100vw - 20rem) / 1180);
  }

  .for__item {
    height: calc(400px + 120 * (100vw - 320px) / 1180);
  }

  .for__block {
    padding: calc(20px + 25 * (100vw - 320px) / 1180);
  }

  .for__title {
    font-size: calc(1.75rem + 28 * (100vw - 20rem) / 1180);
    margin-bottom: calc(20px + 14 * (100vw - 320px) / 1180);
  }

  .for__link {
    font-size: calc(1rem + 8 * (100vw - 20rem) / 1180);
  }

  .about__body {
    padding-top: calc(50px + 100 * (100vw - 320px) / 1180);
  }

  .about__desc {
    font-size: calc(0.9375rem + 3 * (100vw - 20rem) / 1180);
  }

  .benefits__grid {
    -moz-column-gap: calc(10px + 115 * (100vw - 320px) / 1180);
         column-gap: calc(10px + 115 * (100vw - 320px) / 1180);
    row-gap: calc(40px + 35 * (100vw - 320px) / 1180);
  }

  .benefits__name {
    font-size: calc(1.375rem + 2 * (100vw - 20rem) / 1180);
  }

  .benefits__desc {
    font-size: calc(0.9375rem + 3 * (100vw - 20rem) / 1180);
  }

  .how__subtitle {
    margin-bottom: calc(40px + 46 * (100vw - 320px) / 1180);
  }

  .how__list {
    margin-bottom: calc(70px + 20 * (100vw - 320px) / 1180);
  }

  .how__item {
    font-size: calc(1rem + 6 * (100vw - 20rem) / 1180);
  }

  .how__item:not(:last-child) {
    padding-bottom: calc(70px + 20 * (100vw - 320px) / 1180);
  }

  .about-how__title {
    font-size: calc(1.375rem + 4 * (100vw - 20rem) / 1180);
  }

  .about-how__desc {
    font-size: calc(0.9375rem + 3 * (100vw - 20rem) / 1180);
  }

  .info-how__block {
    padding: 20px calc(5px + 15 * (100vw - 320px) / 1180);
    transform: translate(0, calc(100px + 50 * (100vw - 320px) / 1180));
  }

  .info-how__title {
    font-size: calc(1rem + 10 * (100vw - 20rem) / 1180);
    margin-bottom: calc(15px + 15 * (100vw - 320px) / 1180);
  }

  .info-how__more {
    margin-right: calc(10px + 40 * (100vw - 320px) / 1180);
  }

  .info-how__location {
    font-size: calc(0.8125rem + 8 * (100vw - 20rem) / 1180);
  }

  .info-how__sold {
    font-size: calc(0.8125rem + 9 * (100vw - 20rem) / 1180);
  }

  .info-how__table td {
    font-size: calc(0.75rem + 8 * (100vw - 20rem) / 1180);
  }

  .reviews__body {
    padding: calc(50px + 50 * (100vw - 320px) / 1180) 0;
  }

  .reviews__text {
    font-size: calc(1rem + 6 * (100vw - 20rem) / 1180);
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 1180);
  }

  .reviews__author {
    font-size: calc(0.875rem + 4 * (100vw - 20rem) / 1180);
  }

  .start__body {
    padding: calc(50px + 50 * (100vw - 320px) / 1180) 0;
  }

  .start__title {
    font-size: calc(1.5rem + 14 * (100vw - 20rem) / 1180);
  }

  .start__info {
    padding: calc(30px + 30 * (100vw - 320px) / 1180) calc(30px + 40 * (100vw - 320px) / 1180);
  }

  .start__name {
    font-size: calc(1.125rem + 6 * (100vw - 20rem) / 1180);
  }

  .start__desc {
    font-size: calc(1rem + 4 * (100vw - 20rem) / 1180);
  }

  .faq__body {
    padding: calc(50px + 50 * (100vw - 320px) / 1180) 0;
  }

  .faq__title {
    font-size: calc(3.25rem + 20 * (100vw - 20rem) / 1180);
  }

  .faq__question {
    font-size: calc(1.125rem + 4 * (100vw - 20rem) / 1180);
    padding-left: calc(40px + 30 * (100vw - 320px) / 1180);
  }

  .faq__question::before,
  .faq__question::after {
    width: calc(30px + 20 * (100vw - 320px) / 1180);
    height: calc(30px + 20 * (100vw - 320px) / 1180);
  }

  .faq__answer {
    font-size: calc(0.9375rem + 3 * (100vw - 20rem) / 1180);
    padding-left: calc(40px + 30 * (100vw - 320px) / 1180);
  }

  .autro__body {
    padding: calc(50px + 50 * (100vw - 320px) / 1180) 0;
  }

  .autro__item {
    font-size: calc(1rem + 6 * (100vw - 20rem) / 1180);
  }

  .footer {
    padding-top: calc(100px + 80 * (100vw - 320px) / 1180);
    padding-bottom: calc(50px + 50 * (100vw - 320px) / 1180);
  }

  .footer__title {
    font-size: calc(1.125rem + 4 * (100vw - 20rem) / 1180);
  }

  .footer__form label {
    font-size: calc(0.875rem + 2 * (100vw - 20rem) / 1180);
    margin-bottom: calc(10px + 10 * (100vw - 320px) / 1180);
  }

  .footer__form input {
    font-size: calc(0.875rem + 2 * (100vw - 20rem) / 1180);
  }
}

@media (max-width: 992px) {
  .about__body {
    flex-direction: column;
  }

  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .benefits__item:first-child {
    grid-column: span 2;
  }

  .grid-how__item {
    grid-column: span 2;
  }

  .faq__body {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .popup__logo {
    width: 150px;
    height: 40px;
    margin-bottom: 15px;
  }

  .for {
    flex-direction: column;
  }

  .for__item {
    flex: unset;
    border: none;
  }

  .for__image::after {
    opacity: 0;
  }

  .for__block {
    transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }

  .for__title {
    color: var(--white);
  }

  .for__link {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }

  .grid-how__item:nth-child(5) {
    order: 6;
  }

  .grid-how__item:nth-child(6) {
    order: 5;
    border: none;
  }

  .grid-how__item:nth-child(5),
  .grid-how__item:nth-child(6) {
    grid-column: span 4;
  }

  .info-how {
    padding-top: 40%;
  }

  .info-how__block {
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    transform: translate(0, 0);
  }

  .info-how__title {
    color: var(--white);
  }

  .start__title {
    margin-bottom: 100px;
  }

  .start__info {
    padding: 100px calc(15px + 15 * (100vw - 320px) / 448) 30px;
  }

  .start__image {
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, -50%);
    width: 100%;
    padding-bottom: 200px;
  }

  .start__image picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .footer__body {
    flex-direction: column;
  }

  .footer__main {
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
  }

  .footer__logo {
    margin-bottom: 0;
    margin-right: 100px;
  }

  .footer__link:not(:last-child) {
    margin-bottom: 18px;
  }

  .footer__contacts {
    margin-bottom: 80px;
  }

  .footer__rights {
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  .header__body {
    justify-content: center;
  }

  .header__logo {
    margin-right: 0;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    flex: unset;
  }

  .menu__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
  }

  .menu__body {
    justify-content: flex-start;
    padding: 150px 0 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--app-height);
    background: var(--black);
    transform: translate(-100%, 0);
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .menu__body.active {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    flex-direction: column;
    justify-content: flex-start;
    max-width: unset;
    flex: 1 1 auto;
  }

  .menu__item {
    padding: 0;
    width: 100%;
    padding: 0 15px;
  }

  .menu__link {
    font-size: 1.25rem;
    width: 100%;
    border: 1px solid #C19640;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80px + 70 * (100vw - 320px) / 256);
  }

  .menu__socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .benefits__item {
    grid-column: span 2;
  }

  .benefits__item:not(:first-child) {
    border: none;
    padding: 0;
  }

  .how__subtitle {
    text-align: left;
  }

  .how__item {
    text-align: left;
  }

  .grid-how__item {
    grid-column: span 4;
  }

  .start__btn {
    width: 100%;
  }

  .faq__title {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .main__desc {
    margin-bottom: 30px;
  }

  .main__btns {
    flex-direction: column;
    align-items: flex-start;
  }

  .main__btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}